@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Common css */

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.primary-button {
    font-size: 20px;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
}

/* Header Part css */

.header {
    background-color: #161616;
    padding: 50px;
    color: #ffffff;
    display: flex;
    margin-bottom: 50px;
}

.header-left h1 {
    
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;

}

.header-left p {
    
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0;

}



.sidebar {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
}
/* Sidebar css */
.sidebar a {
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    display: block;
}

/* Playes Part css */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
 
}


.players-part {
    display: flex;

}

.player img{
    width: 100%;
   
}

.player p {

font-weight: 400;
padding: 4px;
border-radius: 5px;
border: 1px solid #161616;
width: 100px;
text-align: center;
margin-top: 20px;

}
.player h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin: 20px 0;

}



/* Footer Part css */

footer {
    background: #161616;
    text-align: center;
    padding: 50px;
    margin-top: 30px;
}

footer h2 {
font-weight: 500;
font-size: 40px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
margin-bottom: 20px;

}

footer a {
    color: #FFFFFF;
    margin-right: 10px;
}

.social-media {
    color: #ffffff;
    margin: 20px;
}


.social-media i {
    margin-right: 20px;
}